.projectTitle{
  font-family: 'Sedgwick Ave', cursive;
  color: #0b5727;
  text-align: center;
  text-shadow:
  0 0 5px #0b5727,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
}
.sidePanelHeader{
  font-family: 'Hanuman', serif;
  color: black;
  text-decoration: underline;
  text-shadow:
  0 0 5px #0b5727,
  0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 90px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
}
.sidePanelText{
  font-family: 'Hanuman', serif;
}
.langGlow{
  color: black;
  font-family: 'Press Start 2P', cursive;
  text-shadow:
    0 0 1px #0b5727,
    0 0 10px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 50px #0ff;
}

/* Portrait View for older Iphone*/
@media (min-width: 320px) and (max-width: 365px) {
  .projectTitle {
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-bottom: 15%;
    margin-top: 15%;
  }
  .panelImg {
    height: 125px;
    width: 200px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
  }
  .sidePanelText {
    margin-bottom: 15%;
    text-align: center;
  }
  .sidePanelHeader {
    text-align: center;
    font-size: 26px;
  }
  .langGlow{
    font-size: 10px;
}
}

/* Portrait View */
@media (min-width: 365px) and (max-width: 440px) {
  .projectTitle {
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-bottom: 15%;
    margin-top: 15%;
  }
  .panelImg {
    height: 125px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
  }
  .sidePanelText {
    margin-bottom: 15%;
    text-align: center;
  }
  .sidePanelHeader {
    text-align: center;
    font-size: 26px;
    margin-bottom: 5%;
  }
  .langGlow{
    font-size: 8px;
}
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 812px) {
    #projects {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .projectTitle {
    text-align: center;
    font-size: 60px;
    letter-spacing: 20px;
    margin-top: 10%;
  }
  .icons {
    height: 160px;
    width: 491px;
    margin: 0 auto;
  }
  .sidePanel {
    height: 300px;
    display: flex;
    align-items: center;
  }
  .sidePanelText {
    width: 400px;
    display: inline-block;
  }
  .panelImg {
    height: 125px;
    width: 275px;
    border-radius: 25px;
    vertical-align: middle;
  }
  .sidePanelHeader {
    /* display: inline-block; */
    border-left: 1px solid black;
    padding-left: 1%;
    margin-left: 2%;
    height: 205px;
    width: 40px;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  #projects {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .projectTitle {
    text-align: center;
    font-size: 60px;
    letter-spacing: 20px;
    margin-top: 10%;
  }
  .icons {
    height: 160px;
    width: 491px;
    margin: 0 auto;
  }
  .sidePanel {
    height: 300px;
    display: flex;
    align-items: center;
  }
  .sidePanelText {
    width: 400px;
    display: inline-block;
  }
  .panelImg {
    height: 175px;
    width: 275px;
    border-radius: 25px;
    vertical-align: middle;
  }
  .sidePanelHeader {
    /* display: inline-block; */
    border-left: 1px solid black;
    padding-left: 1%;
    margin-left: 2%;
    height: 205px;
    width: 40px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .projectTitle {
    text-align: center;
    font-size: 60px;
    letter-spacing: 30px;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .sidePanel {
    height: 300px;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidePanelText {
    width: 400px;
    font-size: 16px;
    text-align: center;
    margin-top: 5%;
  }
  .panelImg {
    height: 120px;
    width: 200px;
    display: block;
    margin: 0 auto;
  }
  .sidePanelHeader {
    font-size: 20px;
    text-align: center;
    font-family: 'Sedgwick Ave', cursive;
    letter-spacing: 10px;
    margin: 5%;
  }
  #element-1{
    z-index:5;
    text-align: center;
  }
  #element-2{
    margin: 120px 0 0 ; z-index: -1;
    text-align: center;
    opacity: .09;
  }
  .titleSection{
    padding-bottom: 15%;
  }
  .langGlow{
      color: black;
      font-size: 10px;
      text-shadow:
        0 0 5px #0b5727,
        0 0 10px #0b5727,
        0 0 20px #0ff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 50px #0ff;
}



}
