#footer {
  background-color: #0b5727;
}
.socialSection {
    display: flex;
    justify-content: center;
}
.socialIcon {
    height: 50px;
    width: 50px;
    margin: 1%;
  }
.footerText{
  font-family: 'Knewave', cursive;
  color: white;
}

/* Portrait View */
@media (min-width: 320px) and (max-width: 450px) {
  #footer {
    height: 100px;
  }
  .footerText {
    text-align: center;
    font-size: 12px;
  }

}

/* Landscape View */
@media (min-width: 568px) and (max-width: 812px) {
  #footer {
    height: 100px;
  }
  .footerText {
    text-align: center;
    font-size: 12px;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  #footer {
    height: 300px;
  }
  .footerText {
    text-align: center;
  }
}

/* Desktop */
@media (min-width: 992px) {
  #footer {
    height: 150px;
    margin: 0 auto;
  }
  .footerText {
    text-align: center;
    font-size: 16px;
  }
}
