.skillsTitle {
  text-align: center;
  color: #0b5727;
  font-family: 'Sedgwick Ave', cursive;
  text-shadow:
    0 0 5px #0b5727,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}
.skillsLabel{
  text-align: center;
  color: #484848;
  font-family: 'Sedgwick Ave', cursive;
  letter-spacing: 5px;
}

/* Portrait View */
@media (min-width: 320px) and (max-width: 450px) {
  .skillsTitle {
    font-size: 30px;
    letter-spacing: 30px;
  }
  #skillsSection {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20%;
  }
  .icon {
    height: 75px;
    width: 75px;
    margin-top: 20%;
    background-color: white;
    box-shadow: 0px 0px 20px #0b5727;
  }
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 812px) {
  .skillsTitle {
    font-size: 30px;
    letter-spacing: 30px;
  }
  #skillsSection {
    margin: 0 auto;
    width: 100%;
    text-align: center;

  }
  .icon {
    height: 75px;
    width: 75px;
    margin-top: 10%;
    background-color: white;
    box-shadow: 0px 0px 20px #0b5727;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  .skillsTitle {
    font-size: 70px;
    letter-spacing: 30px;
  }
  #skillsSection {
    margin: 0 auto;
    width: 100%;
    /* margin-top: 40%; */
    text-align: center;
  }
  .icon {
    height: 200px;
    width: 200px;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 0px 20px #0b5727;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .skillsTitle {
    font-size: 70px;
    letter-spacing: 30px;
    margin-bottom: 2%;
  }
  #skillsSection {
    width: 100%;
    margin-top: 20%;
    text-align: center;
  }
  .icon {
    height: 75px;
    width: 75px;
    margin: 10%;
    background-color: white;
    box-shadow: 0px 0px 20px #0b5727;
  }
}
