/* Portrait View */
@media (min-width: 320px) and (max-width: 450px) {
  #title {
    margin-top: 30%;
    margin-left: 5%;
  }
  .mainText {
    font-size: 18px;
    color: white;
    opacity: 0.4;
  }
}

/* Landscape View */
@media (min-width: 568px) and (max-width: 812px) {
  #title {
    margin-top: 20%;
    margin-left: 15%;
  }
  .mainText {
    font-size: 28px;
    color: white;
    opacity: 0.4;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  #title {
    margin-top: 20%;
    margin-left: 10%;
  }
  .mainText {
    font-size: 36px;
    color: white;
    opacity: 0.4;
  }
}

/* Desktop */
@media (min-width: 992px) {
  #title {
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 16%;
    height: 400px;
  }
  .mainText {
    font-size: 60px;
    color: white;
    opacity: 0.7;
  }
}
