.nav-item{
    font-family: 'Knewave', cursive;
}
 /* Portrait View */
 @media (min-width: 320px) and (max-width: 450px) { 
    .nav-item{
        font-size: 14px;
    }

} 

/* Landscape View */
 @media (min-width: 568px) and (max-width: 812px) {
    .nav-item{
        font-size: 30px;
    }


} 

/* Tablet View */
 @media (min-width: 768px) and (max-width: 991px) {
    .nav-item{
        font-size: 18px;
    }


} 

/* Desktop */
 @media (min-width: 992px){
    .nav-item{
        font-size: 30px;
    }

} 